<footer>
  <div class="cont">
    <div class="leftNav">
      <ul>
        <li>
          <a href="http://sellect.com/about">About Us</a>
        </li>
        <li>
          <a href="http://sellect.com/about/careers">Careers</a>
        </li>
        <li>
          <a href="http://sellect.com/news">News</a>
        </li>
        <li>
          <a class="siteCredit" href="http://www.kingandpartners.com/" target="_blank">
            <span>Site Credit</span>
            <span>King &amp; Partners</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="rightNav">
      Sellect LLC All Rights Reserved.
    </div>
  </div>
</footer>