<header>
  <div class="loader"></div>
  <div class="cont">
    <div class="leftNav">
      <a class="logo" href="http://sellect.com/">Home</a>
      <ul>
        <li>
          <a href="http://sellect.com/platform">Platform</a>
        </li>
        <li>
          <a href="http://sellect.com/clients">Clients</a>
        </li>
        <li>
          <a href="http://sellect.com/partners">Partners</a>
        </li>
        <li>
          <a href="http://sellect.com/about">About Us</a>
        </li>
      </ul>
    </div>
    <div class="rightNav">
      <ul>
        <li>
          <a class="overlay aButton getInTouchTrigger" href="#">Get in touch</a>
        </li>
      </ul>
      <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="mobileNav">
    <div class="cont">
      <ul>
        <li>
          <a href="http://sellect.com/platform">Platform</a>
        </li>
        <li>
          <a href="http://sellect.com/clients">Clients</a>
        </li>
        <li>
          <a href="http://sellect.com/partners">Partners</a>
        </li>
        <li>
          <a href="http://sellect.com/about">About Us</a>
        </li>
        <li>
          <a class="overlay aButton getInTouchTrigger" href="#">Get in touch</a>
        </li>
      </ul>
    </div>
  </div>
</header>