a {
  color: $c-blue;
  @include make-transition(color);

  &:hover {
    color: mix($c-blue, $c-black);
  }

  &.greyButton {
    color: $c-grey-dark;

    &:hover {
      color: mix($c-grey-dark, $c-black);
    }
  }
}

p.blackType {
  &, a {
    color: $c-black;
  }

  a {
    &:hover {
      color: $c-blue;
    }
  }
}

.underlineButton {
  @extend %font-default;
  color: $c-blue;
  padding-bottom: 1px;
  @include make-transition-two(color, border);
  border-bottom: 2px solid rgba($c-blue, 0.8);
  margin-right: $gutter;

  &:hover {
    color: mix($c-blue, $c-black);
    border-bottom-color: rgba(mix($c-blue, $c-black), 0.8);
  }

  &.onDark {
    color: $c-grey-mid;
    border-bottom-color: $c-grey-dark;

    &:hover {
      color: mix($c-white, $c-grey-mid);
      border-bottom-color: mix($c-white, $c-grey-mid);
    }
  }
}

.aButton {
  background-color: $c-blue;
  color: $c-white;
  @extend %font-smaller;
  height: 32px;
  display: inline-block;
  line-height: 33px;
  padding: 0px 40px;
  @include make-transition(background);

  &:hover {
    background-color: mix($c-blue, $c-black);
    color: $c-white;
  }
}

.playButton {
  width: 72px;
  height: 72px;
  margin-top: -36px;
  margin-left: -36px;
  background: {
    image: image-url('left_arrow.svg');
    size: 100% 100%;
    position: center center;
    repeat: no-repeat;
  }
  opacity: 0.6;
  @include make-transition(opacity);

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.imageBlock, .gridImageBlock {
  position: relative;
  overflow: hidden;
  background-color: $c-grey-light;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    @include make-transition(opacity);
  }

  &.isLoaded {
    img {
      opacity: 1;
    }
  }

  &.inlineTransparent {
    background-color: transparent;
  }
}

.titleCol {
  h2 {
    @extend %font-h3;
    margin-top: -4px;

    @include mq(tablet) {
      margin-top: 0px;
    }
  }
}

.watchReel {
  background-color: $c-black;

  iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
  }

  .imageBlock {
    background-color: $c-black;
    @include make-transition(opacity);
  }

  .playButton {
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 50%;
    @include make-transition(opacity);
  }

  &.videoVisible {
    .playButton {
      opacity: 0;
    }

    .imageBlock {
      opacity: 0;
    }

    iframe {
      z-index: 50;
    }
  }
}

.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  line-height: 0px;
  vertical-align: middle;
  position: relative;
  top: -3px;
  padding-right: 6px;
  background: {
    size: 18px 18px;
    position: 0px 0px;
    repeat: no-repeat;
  }

  &.twitter {
    background-image: image-url('twitter.svg');
  }
}
